img {
    height: 2rem;
}

.header {
    justify-content: center;
    height: 10%;
    background-color: rgb(104, 195, 223);
}

span {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 1.2rem;
    padding-top: 1.2rem;    
    color: grey;
    text-shadow: white 2px 1px;
}